/* src/components/HomepageComponents/Hero.module.css */
.hero {
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}

.container {
  composes: container from './shared.module.css';
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 600px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero {
    padding: 4rem 0;
  }
  
  .logo {
    max-width: 400px;
  }
}
