/* src/pages/about.module.css */
.container {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
}

.section {
  margin-bottom: 4rem;
}

/* Responsive adjustments */
@media screen and (max-width: 966px) {
  .section {
    margin-bottom: 2rem;
  }
}
