/* src/pages/blog.module.css */
.blogMain {
  padding: 2rem 0 6rem;
  position: relative;
}

.container {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
}

.infoMessage {
  padding: 2rem;
  border-radius: 8px;
  background: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-color-emphasis-200);
  margin-top: 2rem;
  text-align: center;
  color: var(--ifm-color-emphasis-700);
}
